# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# ESM model
ESM_GA/esm1v/

# Model weights
*.pt
*.pth
*.bin

# Large sequence files
*.fasta
*.fa
*.aln
!ESM_GA/01_ESM_GA_20/result/*.fasta
!ESM_GA/02_ESM_GA_30/result/*.fasta
!ESM_GA/02_ESM_MPNN_GA/result/*.fasta
!MPNN/proteinmpnn/input/PLA_all_candidates_mature.fasta

# GROMACS results
GROMACS/results/
GROMACS/*.xtc
GROMACS/*.trr
GROMACS/*.edr
GROMACS/*.tpr
GROMACS/*.cpt

# GROMACS temporary files
GROMACS/#*

# Rosetta outputs
rosetta/**/log/
rosetta/**/score/
rosetta/**/output/
rosetta/**/*.sc
rosetta/**/*.log
rosetta/**/*.png

# temporary
*.tmp

# GROMACS generated structure files
GROMACS/*.gro
GROMACS/*.log
GROMACS/*.xvg
GROMACS/vim


# Rosetta generated results
rosetta/relax/result/
rosetta/relax/rosetta_compare/
rosetta/relax/input/*.pdb


# logs
*.log

# docking result
*.pdbqt

# ThermoMPNN results
MPNN/thermompnn_result/

# ProteinMPNN raw score files and logs
MPNN/proteinmpnn/output/
